### Linux ###
*~

# KDE directory preferences
.directory
# OS X folder attributes
.DS_Store

# Linux trash folder which might appear on any partition or disk
.Trash-*


### Node ###
# Logs
logs
*.log
npm-debug.log*
package-lock.json

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

# compiled css
lib/**/*.css

# files produced by ngc
lib/**/*.ngfactory.ts
lib/**/*.css.shim.ts
**/*.ngsummary.json
lib/**/*.shim.ngstyle.ts

# other
/app.yaml
/config.json
/datadog.yaml
/dist
/demo/build
/pacts
.nyc_output
.idea
.nyc_output
.ghpages-tmp
.scannerwork
.tmp
.vscode
compiled
coverage
docs
EmulatedDatastore
dump.rdb
logagentTailPointers.json
stats.json
